<nav class="d-md-block bg-light sidebar " style="margin-top:20px" >
    <div class="sidebar-sticky " style="background-color:rgb(2, 12, 22)" >
      <ul class="nav flex-column">
          <li class="nav-item" >
           
          
            </li>
        
        
          
          <br>
         

          <li class="nav-item"  style="background-color:black" routerLink="/dashboard">
            <a class="nav-link active" style="color:white" > 
              <i class="fas fa-user"></i>Profile
            </a>
          </li>

          <li class="nav-item" style="background-color:black" routerLink="/vehicle-register">
            <a class="nav-link active" style="color:white" >
              <i class="fas fa-user"></i>View Booking
            </a>
          </li>
          
          
          
            
              <li class="nav-item" style="background-color:black" routerLink="/admin-add-lubricants">
                  <a class="nav-link" href="/admin-add-lubricants"  style="color:white">
                      Add Lubricants
                  </a>
                </li>

                <li class="nav-item" style="background-color:black">
                    <a class="nav-link" href="#"  style="color:white">
                    Manage vehicles
                    </a>
                  </li>

                  <li class="nav-item" style="background-color:black">
                      <a class="nav-link" href="#"  style="color:white">
                      Insuarence details
                      </a>
                    </li>

          
      
      </ul>
    </div>
  </nav>